.description__wrapper {
    margin: 1rem 0;
}

.description__wrapper p {
    margin: 0.3rem 0;
    font-size: 1rem;
    padding: 0 0.8rem;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}
